  <nav class="breadcrumb gray" aria-label="breadcrumb">
    <%_if(breadcrumb && breadcrumb.links && breadcrumb.links.length){_%>
    <ul>
      <%_ for(var i=0; i<breadcrumb.links.length; i++) { _%>
          <li>
            <%_ if(!breadcrumb.links[i].href) { _%>
            <span><%= breadcrumb.links[i].text %></span>
            <%_} else {_%>
            <a href="<%= breadcrumb.links[i].href %>"><%= breadcrumb.links[i].text %></a>
            <%_}_%>
          </li>
        <%_}_%>
    </ul>
    <%_}_%>
    <div class="breadcrumb-button flex">
        <a href="/demo/menu/close" class="f3 close-menu"><i class="icon-arrow-circle-o-right"></i></a>
        <a href="/demo/menu/open" class="f3 open-menu"><i class="icon-arrow-circle-o-left"></i></a>
    </div>
  </nav>
