<%_ if (comp) { _%>
	<section class="section section-scrollview">
		<div class="scrollview fixed fixed-max-xs" data-role="scrollview">
			<ul>
				<%_ if (comp.links && comp.links.length) { _%>
					<%_ for (var i=0; i < comp.links.length; i++) { _%>
						<%_ const link=comp.links[i]; _%>
							<li><a href="<%= getHref(link) %>">
									<%= link.text %> <i class="icon-arrow-right"></i>
								</a></li>
							<%_ } _%>
								<%_ } _%>
			</ul>
		</div>
	</section>
	<%_ } _%>