<nav class="breadcrumb" aria-label="breadcrumb">
  <%_if(breadcrumb && breadcrumb.links && breadcrumb.links.length){_%>
    <ul>
      <%_ for(var i=0; i<breadcrumb.links.length; i++) { _%>
        <li>
          <%_ if(!breadcrumb.links[i].href) { _%>
            <span>
              <%= breadcrumb.links[i].text %>
            </span>
            <%_} else {_%>
              <a href="<%= getHref(breadcrumb.links[i]) %>">
                <%= breadcrumb.links[i].text %>
              </a>
              <%_}_%>
        </li>
        <%_}_%>
    </ul>
    <%_}_%>
</nav>