<%_ if (links && links.length) { _%>
  <section class="comp-links">
    <ul class="panel fixed  grid grid-xs-1 grid-sm-2 grid-md-3 grid-lg-4 grid-xl-5">
      <%_ for (var i=0; i < links.length; i++) { _%>
        <li>
          <a class="link" href="<%= links[i].href %>">
            <%= links[i].text %>
          </a>
        </li>
        <%_ } _%>
    </ul>
  </section>
  <%_ } _%>