</body>
<%_if(data){_%>
  <script type="text/javascript">
    // Load saved theme preference
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme === 'dark') {
      document.body.classList.add('theme-dark');
    } else if (savedTheme === 'light') {
      document.body.classList.remove('theme-dark');
    }
  </script>
  <script>

    window.context = <%- JSON.stringify(data) %>;
  </script>
  <%_}_%>
<%_if(meta.js){_%>
  <script src="<%=meta.js%>"></script>
<%_}_%>
</html>
