<footer class="footer">
    <section class="section small major inline bg active">
        <div class="fixed fixed-max-xs grid grid-xs-1">
            <nav>
                <ul class="flex">
                    <li>
                        <a href="<%=meta.appUrl%>/">Home</a>
                    </li>
                    <li>
                        <a href="<%=meta.appUrl%>/demo.html">Demo</a>
                    </li>
                    <li>
                        <a href="<%=meta.appUrl%>/about.html">About</a>
                    </li>
                    <li>
                        <a href="<%=meta.appUrl%>/contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section small inline bg">
        <div class="fixed fixed-max-xs">Demo copy right @2025</div>
    </section>
</footer>