@use './_mixins.scss' as *;
@use './_var.icon.scss' as *;

.album-processing {
  position: absolute;
  text-align: center;
  bottom: var(--g2);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  max-width: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: var(--g1);
  @include hidden-scrollbar();

  >button {
    flex-shrink: 0;
    display: block;
    width: var(--g2);
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-l1);
    opacity: 0.5;

    &.active,
    &:hover {
      opacity: 1;
    }
  }
}

.album {
  --album-width: 600px;
  --album-height: 400px;
  --album-animation-duration: 10s;
  height: var(--album-height);
  width: var(--album-width);
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;

  &[loaded="2"] {
    .album-list {
      transform: translateX(-100%);
    }
  }

  &:not(.reset) {
    >img {
      &:first-of-type {
        animation-name: album-slide-left;
      }

      &:last-of-type {
        animation-name: album-slide-left;
        animation-delay: calc(var(--album-animation-duration) / -2);
      }
    }
  }

  .icon-equals {
    transform: rotate(90deg);
  }

  &:not(.playing) {
    >img {
      animation-play-state: paused;
    }
  }

  .buttons {
    position: absolute;
    bottom: var(--g2);
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    display: flex;
    background-color: hsla(var(--color-major-hue), var(--color-glbsaturation), var(--color-glblightness), 0.3);
    border-radius: var(--g3);

    >button {
      padding: var(--g1);
      text-align: center;
      font-size: var(--font-size-5);
      color: var(--color-bg);
    }
  }

  .album-prev {
    &::before {
      @include icon();
      content: $icon-chevron-left;
    }
  }

  .album-next {
    &::before {
      @include icon();
      content: $icon-chevron-right;
    }
  }

  .album-toggle {
    &::before {
      @include icon();
      content: $icon-play;
    }
  }

  &.playing {
    .album-toggle {
      &::before {
        content: $icon-pause;
      }
    }
  }
}

.album-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .album-info-content {
    text-align: center;
    color: var(--color-bg);
    background-color: hsla(var(--color-major-hue), var(--color-glbsaturation), var(--color-glblightness), 0.7);
    padding: var(--g3);
    border-radius: var(--radius-2);
    max-width: 80%;
    pointer-events: none;

    .album-info-label {
      display: block;
      font-size: var(--font-size-6);
      margin-bottom: var(--g1);
      opacity: 0.8;
    }

    .album-info-title {
      font-size: var(--font-size-3);
      margin: 0 0 var(--g2) 0;
      font-weight: var(--font-weight-bold);
    }

    .album-info-description {
      font-size: var(--font-size-5);
      margin: 0;
      line-height: var(--line-height-normal);
    }
  }
}

.album-list {
  font-size: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  cursor: grab;

  &:focus {
    cursor: grabbing;
  }

  >img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;

    &.current {
      order: 2;
    }

    &.prev {
      order: 1;
    }

    &.next {
      order: 3;
    }

    &.preload {
      order: 4;
      display: none !important;
    }
  }


}