@use './_mixins.scss' as *;

.suggestion-list {
  display: none;
  position: absolute;
  width: 100%;
  background: var(--color);

  line-height: 2;
  overflow-y: auto;
  overflow-x: hidden;
  @include hidden-scrollbar();
  border-radius: 0 0 var(--radius-2) var(--radius-2);
}

.suggestion-list:empty {
  display: none !important;
}

.autocomplete-show {
  .suggestion-list {
    display: block;
  }
}

.suggestion-item {
  padding: var(--g0) var(--g2);
  cursor: pointer;
  border-top: var(--color-hover) 1px solid;
  cursor: pointer;

  &:hover {
    background: var(--color-hover);
  }

  &.selected {
    background: var(--color-hover);
  }
}