@use './_mixins.scss' as *;

.dialog {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: var(--ui-dialog-index);
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	.dialog-title-close {
		font-size: var(--font-size-3);
		display: block;
		height: var(--comp-size-3);
		width: var(--comp-size-3);
		text-align: center;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}

	.dialog-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: hsla(var(--color-major-hue), var(--color-glb-front-saturation), var(--color-glb-front-lightness), 0.8);
		z-index: var(--ui-dialog-overlay);
	}

	.dialog-panel {
		position: absolute;
		width: 100vw;
		height: auto;
		max-width: var(--screen-xs-max);
		border-radius: 5px;
		z-index: var(--ui-dialog-index);
		background-color: var(--color-bg);
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: top 0.5s;
	}

	.dialog-body {
		position: relative;
		z-index: 2;
		color: var(--color);
		padding: var(--g2);
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 100vh;
	}

	&.dialog-active {
		opacity: 1;
	}


	&.dialog-fullscreen {
		.dialog-title-close {
			display: none;
		}

		.dialog-panel {
			display: flex;
			align-items: center;
			width: 100%;
			background: transparent;
			color: var(--color-bg);
		}
	}

	&.dialog-dropdown {
		.dialog-header {
			display: none;
		}

		.dialog-body {
			padding: 0;

			>div {
				padding: var(--g2);
				color: var(--color-l1);
			}
		}

		ul {
			z-index: 10;

			>li {
				margin: 0;
				padding: 0;
				text-align: left;
				font-size: var(--font-size-4);

				a {
					>i {
						float: left;
						font-size: var(--font-size-3);
					}

					font-weight: var(--font-weight-medium);
					display: block;
					padding: var(--g2) var(--g3);
					border-top: 1px solid var(--color-l1);
				}
			}
		}
	}
}

.dialog-model {
	overflow-y: hidden !important;
	overflow-x: hidden !important;

	body {
		overflow-y: hidden !important;
		overflow-x: hidden !important;
		-webkit-overflow-scrolling: auto !important;
	}
}