@use './_mixins.scss' as *;

.form {
	label {
		margin-bottom: var(--g1);
	}
}

.form-filter {
	@include box-line();
	background-color: var(--color-minor-l1);
	padding: var(--g2) var(--g3);
	display: flex;
	flex-wrap: nowrap;
	gap: var(--g2);
	@include hidden-scrollbar();

	&.horizontal {
		>* {
			flex-shrink: 0;
		}

		overflow-x: scroll;
		overflow-y: hidden;
		flex-direction: roww;
	}

	&.vertical {
		overflow-x: hidden;
		overflow-y: scroll;
		flex-direction: column;
	}
}