@use './_mixins.scss' as *;

#body {

    //margin left & right
    .m-x-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .m-x-xs {
        margin-left: var(--gxs);
        margin-right: var(--gxs);
    }

    .m-x-1 {
        margin-left: var(--g1);
        margin-right: var(--g1);

    }

    .m-x-2 {
        margin-left: var(--g2);
        margin-right: var(--g2);

    }

    .m-x-3 {
        margin-left: var(--g3);
        margin-right: var(--g3);
    }

    .m-x-4 {
        margin-left: var(--g4);
        margin-right: var(--g4);
    }

    // margin top & bottom
    .m-y-0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .m-y-xs {
        margin-top: var(--gxs);
        margin-bottom: var(--gxs);
    }

    .m-y-1 {
        margin-top: var(--g1);
        margin-bottom: var(--g1);
    }

    .m-y-2 {
        margin-top: var(--g2);
        margin-bottom: var(--g2);
    }

    .m-y-3 {
        margin-top: var(--g3);
        margin-bottom: var(--g3);
    }

    .m-y-4 {
        margin-top: var(--g4);
        margin-bottom: var(--g4);
    }

    //margin top
    .m-t-0 {
        margin-top: 0;
    }

    .m-t-xs {
        margin-top: var(--gxs);
    }

    .m-t-1 {
        margin-top: var(--g1);
    }

    .m-t-2 {
        margin-top: var(--g2);
    }

    .m-t-3 {
        margin-top: var(--g3);
    }

    .m-t-4 {
        margin-top: var(--g4);
    }

    //margin bottom
    .m-b-0 {
        margin-bottom: 0;
    }

    .m-b-xs {
        margin-bottom: var(--gxs);
    }

    .m-b-1 {
        margin-bottom: var(--g1);
    }

    .m-b-2 {
        margin-bottom: var(--g2);
    }

    .m-b-3 {
        margin-bottom: var(--g3);
    }

    .m-b-4 {
        margin-bottom: var(--g4);
    }

    //margin left
    .m-l-0 {
        margin-left: 0;
    }

    .m-l-xs {
        margin-left: var(--gxs);
    }

    .m-l-1 {
        margin-left: var(--g1);
    }

    .m-l-2 {
        margin-left: var(--g2);
    }

    .m-l-3 {
        margin-left: var(--g3);
    }

    .m-l-4 {
        margin-left: var(--g4);
    }

    //margin right
    .m-r-0 {
        margin-right: 0;
    }

    .m-r-xs {
        margin-right: var(--gxs);
    }

    .m-r-1 {
        margin-right: var(--g1);
    }

    .m-r-2 {
        margin-right: var(--g2);
    }

    .m-r-3 {
        margin-right: var(--g3);
    }

    .m-r-4 {
        margin-right: var(--g4);
    }

    //padding left & right
    .p-x-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .p-x-xs {
        padding-left: var(--gxs);
        padding-right: var(--gxs);
    }

    .p-x-1 {
        padding-left: var(--g1);
        padding-right: var(--g1);
    }

    .p-x-2 {
        padding-left: var(--g2);
        padding-right: var(--g2);
    }

    .p-x-3 {
        padding-left: var(--g3);
        padding-right: var(--g3);
    }

    .p-x-4 {
        padding-left: var(--g4);
        padding-right: var(--g4);
    }

    //padding top & bottom
    .p-y-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .p-y-xs {
        padding-top: var(--gxs);
        padding-bottom: var(--gxs);
    }

    .p-y-1 {
        padding-top: var(--g1);
        padding-bottom: var(--g1);
    }

    .p-y-2 {
        padding-top: var(--g2);
        padding-bottom: var(--g2);
    }

    .p-y-3 {
        padding-top: var(--g3);
        padding-bottom: var(--g3);
    }

    .p-y-4 {
        padding-top: var(--g4);
        padding-bottom: var(--g4);
    }

    // padding top
    .p-t-0 {
        padding-top: 0;
    }

    .p-t-xs {
        padding-top: var(--gxs);
    }

    .p-t-1 {
        padding-top: var(--g1);
    }

    .p-t-2 {
        padding-top: var(--g2);
    }

    .p-t-3 {
        padding-top: var(--g3);
    }

    .p-t-4 {
        padding-top: var(--g4);
    }

    //padding bottom
    .p-b-0 {
        padding-bottom: 0;
    }

    .p-b-xs {
        padding-bottom: var(--gxs);
    }

    .p-b-1 {
        padding-bottom: var(--g1);
    }

    .p-b-2 {
        padding-bottom: var(--g2);
    }

    .p-b-3 {
        padding-bottom: var(--g3);
    }

    .p-b-4 {
        padding-bottom: var(--g4);
    }

    //padding left
    .p-l-0 {
        padding-left: 0;
    }

    .p-l-xs {
        padding-left: var(--gxs);
    }

    .p-l-1 {
        padding-left: var(--g1);
    }

    .p-l-2 {
        padding-left: var(--g2);
    }

    .p-l-3 {
        padding-left: var(--g3);
    }

    .p-l-4 {
        padding-left: var(--g4);
    }

    //padding right
    .p-r-0 {
        padding-right: 0;
    }

    .p-r-xs {
        padding-right: var(--gxs);
    }

    .p-r-1 {
        padding-right: var(--g1);
    }

    .p-r-2 {
        padding-right: var(--g2);
    }

    .p-r-3 {
        padding-right: var(--g3);
    }

    .p-r-4 {
        padding-right: var(--g4);
    }
}