@include comp-color('input');
@include comp-size('input');

.input {
	position: relative;
	display: block;
	width: 100%;

	>select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;

		&[disabled] {
			color: var(--color-l1);
		}
	}

	option[disabled] {
		color: var(--color-l1);
	}

	>input::placeholder {
		color: inherit;
	}

	>input,
	>select {
		width: 100%;
		border: 1px solid var(--color-l1);
		font-size: var(--input-font-size);
		font-weight: var(--input-font-weight);
		font-size: var(--input-font-size);
		height: var(--input-size);
		padding: var(--input-gap) var(--g2);
		min-width: var(--input-size);
		line-height: var(--input-line-height);
		color: var(--input-color);
		background-color: var(--input-color-bg);
	}

	>i,
	>span,
	>a,
	>button,
	>.btn {
		position: absolute;
		top: 0;
		z-index: 1;
		text-align: center;
		width: var(--input-size);
		height: var(--input-size);
		line-height: var(--input-size);
		padding-top: 0;
		padding-bottom: 0;
	}

	>.btn {
		background-color: var(--input-color-bg);
		color: var(--input-color);
		border-color: transparent;
		box-shadow: none;
		border-radius: 0;
	}

	&.left {

		>input,
		>select {
			padding-left: var(--input-size);
		}

		>span,
		>i,
		>a,
		>button,
		>.btn {
			left: 0;
			right: auto;
		}
	}

	&.right {

		>input,
		>select {
			padding-right: var(--input-size);

			~span,
			~i,
			~a,
			~button,
			~.btn {
				right: 0;
				left: auto;
			}
		}
	}

	&.has-success {
		color: var(--color);
	}

	&.has-error {
		color: var(--color-danger);
	}

	&.has-error,
	&.has-success {
		.tooltip {
			margin-top: 0;
			top: 0;
			left: 0 !important;
			right: 0 !important;
			max-width: initial !important;
			transform: translateY(50%);
			padding: 0;
			top: 0;

			.tooltip-inner {
				border: none !important;
				background: transparent !important;
				border: none !important;
				box-shadow: none !important;
				text-align: right !important;
				margin: 0 0.5rem !important;
			}

			.tooltip-arrow {
				display: none !important;
			}

			&.in {
				transform: translateY(0);
			}
		}
	}

	&.has-error {
		.tooltip-inner {
			color: var(--color-danger-l1);
		}
	}

}