a {
	text-decoration: none;
	cursor: pointer;
	outline: none;

	&,
	&:link,
	&:visited,
	&:active,
	&:hover {
		text-decoration: none;
		outline: none;
		color: inherit;
	}

	&[disable] {
		color: var(--color-disabled);
	}
}

a,
button {
	&.link {
		opacity: 0.95;
		color: var(--color-link-default);

		@include hover() {
			font-weight: var(--font-weight-bold);
			opacity: 1;
			color: var(--color-link-default-hover);
		}
	}
}