@use './_mixins.scss' as *;

.list-dict {
	width: 100%;
	margin: var(--g1) auto;
	--list-dict-item-width: 320px;

	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(var(--list-dict-item-width) - var(--g2) * 2), 1fr)
	);
	gap: var(--g2);

	> li {
		width: 100%;
		border-bottom: 1px solid var(--color-l1);
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: var(--gxs) var(--g1);
		margin-bottom: 0;
		padding-bottom: var(--g1);
		line-height: normal;
	}

	.key {
		flex: 0 0 40%;
		min-width: 0;
		text-decoration: none;
		cursor: help;
	}

	.value {
		flex: 1 1 auto;
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
		text-align: end;
		font-weight: var(--font-weight-bold);
		word-break: break-word;
		flex-wrap: wrap;

		&.max {
			@include multiline($lineCount: 3);
		}
	}
}
