.megalist {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

.megalist ul,
.megalist li {
	white-space: nowrap;
	overflow: hidden;
}


.megalist ul {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	overflow: visible;
	visibility: hidden;
}

.megalist li {
	display: block;
	position: absolute;
	width: 100%;
}

.megalistItem {
	opacity: 0.9
}

.megalistSelected {
	opacity: 1;
}

.megalist #scrollbar {
	position: absolute;
	background-color: black;
	background-color: hsla(var(--color-major-hue), var(--color-glbsaturation), var(--color-glblightness), 0.5);
	width: 5px;
	border-radius: var(--radius-0);
	top: 1px;
	right: 1px;
	height: 25px;
	border: 1px solid hsla(var(--color-major-hue), var(--color-glbsaturation), var(--color-glblightness), 0.5);
}