@use './_mixins.scss' as *;

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(var(--scroll-width) * -1));
  }
}

.scrollview {
  --scroll-width: 100px;
  --duration: 120s;
  position: relative;
  overflow-x: hidden;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 50px;
    background: linear-gradient(to right, var(--color-bg), transparent);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    width: 50px;
    background: linear-gradient(to left, var(--color-bg), transparent);
  }

  >ul {
    display: flex;
    flex-direction: column;
    height: 125px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--g3) var(--g2);
    width: max-content;

    &:hover {
      li {
        animation-play-state: paused;
      }
    }

    li {
      font-size: var(--font-size-6);
      background-color: var(--color-bg-l1);
      color: var(--color-major);
      border-radius: var(--g1);

      animation: scrolling var(--duration) linear infinite;
      animation-direction: alternate;

      a {
        display: block;
        padding: var(--g1) var(--g2);
      }

      &:nth-child(3n+2) {
        animation-delay: calc(var(--duration) * -1);
      }
    }
  }
}