@use './_mixins.scss' as *;

@include comp-color('section');

.section {
	@include gap-size();
	margin-top: var(--section-gap-y);
	margin-bottom: var(--section-gap-y);


	&.inline {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: var(--section-gap-y);
		padding-bottom: var(--section-gap-y);
		padding-left: var(--section-gap-x);
		padding-right: var(--section-gap-x);
		color: var(--section-color);
		background-color: var(--section-color-bg);
		box-shadow: inset 0 0 0 var(--section-border-weight) var(--section-color-border);

		&.active {
			color: var(--section-color-active);
			background-color: var(--section-color-active-bg);
			box-shadow: inset 0 0 0 var(--section-border-weight) var(--section-color-active-border);
		}
	}
}