.section-hero {
  &.animation {
    width: 100%;
    height: 300dvh;

    .picture {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100dvh;
    }

    .content {
      position: fixed;
      animation: content-animation linear forwards;
      animation-timeline: scroll();
      animation-range: 180vh 230dvh;

      @keyframes content-animation {
        50% {
          opacity: 1;
          pointer-events: none;
          transform: translateY(-15dvh);
        }

        100% {
          opacity: 0;
          pointer-events: none;
          transform: translateY(-25dvh);
        }
      }

      >i {
        display: block;
        animation: icon-animation linear forwards;
        animation-timeline: scroll();
        animation-range: 0 50dvh;

        opacity: 0;
        transform: scale(2);

        @keyframes icon-animation {
          to {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      h1 {
        transform: translateY(0);
        animation: h1-animation linear forwards;
        animation-timeline: scroll();
        animation-range: 50vh 100dvh;

        @keyframes h1-animation {
          to {
            transform: translateY(-5dvh) scale(.5);
          }
        }
      }
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      max-width: fit;
      display: inline-block;
      border-right: .15em solid var(--color-bg-l1);
      animation: typing steps(26) forwards;
      animation-timeline: scroll();
      animation-range: 0 50dvh;

      @keyframes typing {
        from {
          width: 0;
        }

        to {
          width: 26ch;
        }
      }

      @keyframes blink {

        from,
        to {
          border-color: transparent;
        }

        50% {
          border-color: black;
        }
      }
    }

    .desc {
      opacity: 0;
      transform: translateY(10dvh);
      animation: desc-animation linear forwards;
      animation-timeline: scroll();
      animation-range: 50dvh 150dvh;

      @keyframes desc-animation {
        to {
          opacity: 1;
          transform: translateY(0);
        }

      }
    }


    .picture>img {
      animation: image-animation linear forwards;
      animation-timeline: scroll(root);
      animation-range: 150dvh 200dvh;
      transform: scale(1);
      transform-origin: center bottom;

      @keyframes image-animation {
        to {
          opacity: 1;
          transform: scale(1.25);
        }
      }
    }

  }
}

.scroll-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: hsla(var(--color-default-hsl), .8);
  scale: 0 1;
  transform-origin: left;
  animation-name: scroll-loading;
  animation-timeline: scroll();
  z-index: 9999;

  @keyframes scroll-loading {
    to {
      scale: 1 1;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10dvh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-points {
  &.animation {
    ul>li {
      opacity: 0;
      transform: translateY(10dvh);
      animation: fadeIn linear forwards;
      animation-timeline: view();
      animation-range: cover 0% 25%;
    }
  }
}


.section-timeline {
  display: grid;
  padding-right: var(--g2);
  grid-template-columns: minmax(max-content, 40%) auto minmax(max-content, 30%);
  row-gap: var(--g3);
  justify-items: start;
  line-height: 1;
  align-items: center;
  padding-bottom: var(--g2);
  margin-left: var(--g2);
  border-left: 1px dotted var(--color-major);


  li {
    display: contents;
    font-size: var(--font-size-6);

    &.title {
      &:first-of-type {
        b {
          margin-top: 0;
        }
      }

      b {
        margin-top: var(--g2);
        font-size: var(--font-size-5);
      }
    }

    >*:nth-child(3n+1):last-child {
      grid-column: span 3;
    }

    >*:nth-child(3n+2):last-child {
      grid-column: span 2;
    }


    &.desc {
      color: var(--color-l1);

      >span:first-child {
        text-indent: var(--g2);

        &:before {
          content: " ";
          position: relative;
          transform: translate(-6px, -4px);
          height: var(--g0);
          width: var(--g0);
          background-color: var(--color-bg);
          border-radius: 50%;
          display: inline-block;
        }
      }

    }

    &.title {
      b {
        text-indent: var(--g0);

        &:before {
          content: " ";
          position: relative;
          transform: translate(-6px, -4px);
          height: var(--g0);
          width: var(--g0);
          outline: 2px solid var(--color-major);
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }

}