@use './_mixins.scss' as *;

@include comp-color('selectbox');
@include comp-size('selectbox');

.selectbox {
	position: relative;
	background: var(--color-bg);
	width: 100%;
	border-radius: 0;

	select {
		color: var(--selectbox-color);
		background-color: var(--selectbox-color-bg);
		box-shadow: inset 0 0 0 var(--selectbox-border-weight) var(--selectbox-color-border);
	}

	&.active {
		select {
			color: var(--selectbox-color-active);
			background-color: var(--selectbox-color-active-bg);
			box-shadow: inset 0 0 0 var(--selectbox-border-weight) var(--selectbox-color-active-border);
		}
	}

	>label {
		position: absolute;
		top: var(--g0);
		left: var(--g2);
		color: var(--color-l1);
		font-size: var(--font-size-7);
		pointer-events: none;
	}

	>select {
		width: 100%;
		border: 1px solid var(--color-l1);
		font-weight: var(--selectbox-font-weight);
		padding-left: var(--g2);
		padding-right: var(--g2);
		padding-top: var(--font-size-7);
		padding-bottom: 0;
		font-size: var(--selectbox-font-size);
		line-height: var(--selectbox-line-height);
		height: var(--selectbox-size);
		background: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
	}

	i {
		@include center-y();
		right: var(--g2);
		font-size: var(--font-size-4);
		color: var(--color);
		pointer-events: none;
	}
}