.circle {
	@include f5();
	height: var(--comp-size-3);
	width: var(--comp-size-3);
	color: var(--color);
	background-color: var(--color-bg);
	box-shadow: inset 0 0 1px var(--color-border);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	&.active {
		color: var(--color-active);
		background-color: var(--color-active-bg);
		box-shadow: inset 0 0 1px var(--color-active-border);
	}

	&.small {
		@include f6();
		height: var(--comp-size-2);
		width: var(--comp-size-2);
	}

	&.large {
		@include f4();
		height: var(--comp-size-4);
		width: var(--comp-size-4);
	}
}