/*
Animated skeleton screen using CSS.
*/
.skeleton:empty {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 120px;
    /* change height to see repeat-y behavior */
    background-image: radial-gradient(circle 50px at 50px 50px, lightgray 100%, transparent 0), linear-gradient(100deg, hsla(var(--color-major-hue), var(--color-glb-bg-saturation), var(--color-glb-bg-lightness), 1), hsla(var(--color-major-hue), var(--color-glb-bg-saturation), var(--color-glb-bg-lightness), 0.8) 50%, hsla(var(--color-major-hue), var(--color-glb-bg-saturation), var(--color-glb-bg-lightness), 0) 80%), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 100px 200px, 60px 200px, 110px 200px, 250px 120px, 300px 200px, 250px 200px;
    background-position: 0 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
}