@use './_mixins.scss' as *;

.table-scroll {
	overflow-x: auto;
	min-height: 0.01%;
	min-width: 0.01%;
	@include hidden-scrollbar();

	tbody {
		>tr:nth-child(odd) {
			background-color: var(--color-bg-l1);

			td {
				white-space: nowrap;
			}
		}
	}
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	color: var(--color);
}

table {

	td,
	th {
		text-align: left;
		padding: var(--g1) var(--g0);
	}
}