// very small screen / phone
@mixin theme-dark-vars {
	--logo-bg: url('../assets/img/logo.svg');
	--logo: url('../assets/img/logo-bg.svg');
	--color-0: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 10%);
	--color-1: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 20%);
	--color-2: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 30%);
	--color-3: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 40%);
	--color-4: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 50%);
	--color-5: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 60%);
	--color-6: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 70%);
	--color-7: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 80%);
	--color-8: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 90%);
	--color-9: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 100%);

	//flip the lightness values for  dark mode
	--color-glb-bg-lightness: 10%;
	--color-glb-front-lightness: 80%;
	--color-glb-default-lightness: 90%;
	--color-glb-default-saturation: 100%;


	--color: var(--color-bg-default);
	--color-border: var(--color-default);
	--color-bg: var(--color-default);
	--color-hover: var(--color-bg-default);
	--color-border-hover: var(--color-default);
	--color-bg-hover: var(--color-default);
	--color-l1: var(--color-dbg-default-l1);
	--color-bg-l1: var(--color-default-l1);

	--color-active: var(--color-default);
	--color-active-bg: var(--color-bg-default);
	--color-active-border: var(--color-bg-default);
	--color-active-hover: var(--color-default);
	--color-active-bg-hover: var(--color-bg-default);
	--color-active-border-hover: var(--color-bg-default);
	--color-disabled: var(--color-dbg-default-l1);

	--color-major-lightness: var(--color-major-default-lightness-l1);
	--color-major-lightness-l1: var(--color-major-default-lightness);
	--color-minor-lightness: var(--color-minor-default-lightness-l1);
	--color-minor-lightness-l1: var(--color-minor-default-lightness);
	--color-safe-lightness: var(--color-safe-default-lightness-l1);
	--color-safe-lightness-l1: var(--color-safe-default-lightness);
	--color-danger-lightness: var(--color-danger-default-lightness-l1);
	--color-danger-lightness-l1: var(--color-danger-default-lightness);
	--color-tip-lightness: var(--color-tip-default-lightness-l1);
	--color-tip-lightness-l1: var(--color-tip-default-lightness);

	.header {
		--header-color-active: var(--color-bg-default);
		--header-color-active-bg: var(--color-default);
		--header-color-active-bg-hover: var(--color-default-l1);
	}
}

html {
	--animation-time: 0.1s;
	--cui-font: 'Roboto';
	--color-glb-front-lightness: 23%;
	--color-glb-bg-lightness: 95%;
	--color-glb-front-saturation: 20%;
	--color-glb-bg-saturation: 100%;
	--color-glb-default-saturation: 100%;
	--color-glb-default-lightness: 30%;

	--color-r0-hue: 4;
	--color-r1-hue: 34;
	--color-r2-hue: 54;
	--color-r3-hue: 84;
	--color-r4-hue: 169;
	--color-r5-hue: 174;
	--color-r6-hue: 204;
	--color-r7-hue: 224;
	--color-r8-hue: 274;
	--color-r9-hue: 344;

	--color-major-hue: 169;
	--color-major-default-lightness: 23%;
	--color-major-default-lightness-l1: var(--color-glb-bg-lightness);
	--color-major-lightness: var(--color-major-default-lightness);
	--color-major-lightness-l1: var(--color-major-default-lightness-l1);
	--color-major-saturation: 76%;
	--color-minor-hue: 185;
	--color-minor-default-lightness: 15%;
	--color-minor-default-lightness-l1: var(--color-glb-bg-lightness);
	--color-minor-lightness: var(--color-minor-default-lightness);
	--color-minor-lightness-l1: var(--color-minor-default-lightness-l1);
	--color-minor-saturation: 100%;
	--color-safe-hue: 169;
	--color-safe-default-lightness: 30%;
	--color-safe-default-lightness-l1: var(--color-glb-bg-lightness);
	--color-safe-lightness: var(--color-safe-default-lightness);
	--color-safe-lightness-l1: var(--color-safe-default-lightness-l1);
	--color-safe-saturation: var(--color-glb-default-saturation);
	--color-danger-hue: 4;
	--color-danger-default-lightness: 30%;
	--color-danger-default-lightness-l1: var(--color-glb-bg-lightness);
	--color-danger-lightness: var(--color-danger-default-lightness);
	--color-danger-lightness-l1: var(--color-danger-default-lightness-l1);
	--color-danger-saturation: var(--color-glb-default-saturation);
	--color-tip-hue: 54;
	--color-tip-default-lightness: 30%;
	--color-tip-default-lightness-l1: var(--color-glb-bg-lightness);
	--color-tip-lightness: var(--color-tip-default-lightness);
	--color-tip-lightness-l1: var(--color-tip-default-lightness-l1);
	--color-tip-saturation: var(--color-glb-default-saturation);

	--logo: url('../assets/img/logo.svg');
	--logo-bg: url('../assets/img/logo-bg.svg');
	--logo-size: 60px;


	--line-height-1: 1;
	--line-height-2: 1.25;
	--line-height-3: 1.75;

	//boderradius
	--radius-0: 0.25rem;
	--radius-1: 0.5rem;
	--radius-2: 1rem;
	--radius-3: 1.5rem;
	--radius-4: 2rem;

	//f1
	--font-size-1: 2rem;
	//f2
	--font-size-2: 1.75rem;
	//f3
	--font-size-3: 1.5rem;
	//f4
	--font-size-4: 1.25rem;
	//f5
	--font-size-5: 1rem;
	//f6
	--font-size-6: 0.75rem;
	//f7
	--font-size-7: 0.625rem;

	//half of gs
	--gxs: 0.125rem;
	//half of f7
	--g0: 0.25rem;
	//half of f5
	--g1: 0.5rem;
	//half of f3 or g0 + g1
	--g2: 0.75rem;
	//half of f1 or g1 + g2
	--g3: 1rem;
	//half of f1 or g2 + g3
	--g4: 1.75rem;
	//g3 + g4
	--g5: 2.75rem;
	//g4 + g5
	--g6: 4.5rem;

	--font-weight-regular: 300;
	--font-weight-medium: 400;
	--font-weight-bold: 700;
}

body {
	--color-r0: hsl(var(--color-r0-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r1: hsl(var(--color-r1-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r2: hsl(var(--color-r2-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r3: hsl(var(--color-r3-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r4: hsl(var(--color-r4-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r5: hsl(var(--color-r5-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r6: hsl(var(--color-r6-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r7: hsl(var(--color-r7-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r8: hsl(var(--color-r8-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));
	--color-r9: hsl(var(--color-r9-hue), var(--color-glb-default-saturation), var(--color-glb-default-lightness));

	--color-major: hsl(var(--color-major-hue), var(--color-major-saturation), var(--color-major-lightness));
	--color-major-l1: hsl(var(--color-major-hue), var(--color-major-saturation), var(--color-major-lightness-l1));
	--color-major-hsl: var(--color-major-hue), var(--color-major-saturation), var(--color-major-lightness);
	--color-major-l1-hsl: var(--color-major-hue), var(--color-major-saturation), var(--color-major-lightness-l1);
	--color-link: var(--color-major);
	--color-link-hover: var(--color-minor);

	--color-minor: hsl(var(--color-minor-hue), var(--color-minor-saturation), var(--color-minor-lightness));
	--color-minor-l1: hsl(var(--color-minor-hue), var(--color-minor-saturation), var(--color-minor-lightness-l1));
	--color-minor-hsl: var(--color-minor-hue), var(--color-minor-saturation), var(--color-minor-lightness);
	--color-minor-l1-hsl: var(--color-minor-hue), var(--color-minor-saturation), var(--color-minor-lightness-l1);
	--color-safe: hsl(var(--color-safe-hue), var(--color-safe-saturation), var(--color-safe-lightness));
	--color-safe-l1: hsl(var(--color-safe-hue), var(--color-safe-saturation), var(--color-safe-lightness-l1));
	--color-safe-hsl: var(--color-safe-hue), var(--color-safe-saturation), var(--color-safe-lightness);
	--color-safe-l1-hsl: var(--color-safe-hue), var(--color-safe-saturation), var(--color-safe-lightness-l1);
	--color-danger: hsl(var(--color-danger-hue), var(--color-danger-saturation), var(--color-danger-lightness));
	--color-danger-l1: hsl(var(--color-danger-hue), var(--color-danger-saturation), var(--color-danger-lightness-l1));
	--color-danger-hsl: var(--color-danger-hue), var(--color-danger-saturation), var(--color-danger-lightness);
	--color-danger-l1-hsl: var(--color-danger-hue), var(--color-danger-saturation), var(--color-danger-lightness-l1);
	--color-tip: hsl(var(--color-tip-hue), var(--color-tip-saturation), var(--color-tip-lightness));
	--color-tip-l1: hsl(var(--color-tip-hue), var(--color-tip-saturation), var(--color-tip-lightness-l1));
	--color-tip-hsl: var(--color-tip-hue), var(--color-tip-saturation), var(--color-tip-lightness);
	--color-tip-l1-hsl: var(--color-tip-hue), var(--color-tip-saturation), var(--color-tip-lightness-l1);

	--color-0: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 100%);
	--color-1: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 90%);
	--color-2: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 80%);
	--color-3: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 70%);
	--color-4: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 60%);
	--color-5: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 50%);
	--color-6: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 40%);
	--color-7: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 30%);
	--color-8: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 20%);
	--color-9: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 10%);

	--color-default: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 10%);
	--color-default-l1: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 50%);
	--color-default-hsl: var(--color-major-hue), var(--color-glb-front-saturation), 10%;
	--color-bg-default: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 100%);
	--color-bg-default-l1: hsl(var(--color-major-hue), var(--color-glb-front-saturation), 96%);
	--color-bg-default-hsl: var(--color-major-hue), var(--color-glb-front-saturation), 100%;


	--color: var(--color-default);
	--color-border: var(--color-bg-default);
	--color-bg: var(--color-bg-default);
	--color-hover: var(--color-default);
	--color-border-hover: var(--color-bg-default);
	--color-bg-hover: var(--color-bg-default);
	--color-l1: var(--color-default-l1);
	--color-bg-l1: var(--color-bg-default-l1);

	--color-active: var(--color-bg-default);
	--color-active-bg: var(--color-default);
	--color-active-border: var(--color-default);
	--color-active-hover: var(--color-bg-default);
	--color-active-bg-hover: var(--color-default);
	--color-active-border-hover: var(--color-default);
	--color-disabled: var(--color-default-l1);

	--section-gap-x: var(--g3);
	--section-gap-y: var(--g4);

	--panel-gap-x: var(--g2);
	--panel-gap-y: var(--g3);

	//comps like: button, input, select, etc
	//f3(f5*1.618)
	--comp-size-1: 1.75rem;
	//$gxs + f3(f5*1.618) + $gxs
	--comp-size-2: 2rem;
	//1.75 + .5 * 2 = 2.75
	--comp-size-3: 2.75rem;
	//1.25 * 1.25 +  0.5 * 2 = 2.25
	--comp-size-4: 3.2rem;

	--comp-height: var(--comp-size-3);
	--comp-font-size: var(--font-size-5);
	--comp-border-radius: var(--radius-1);
	--comp-max-width: auto;
	--comp-line-height: var(--line-height-3);

	&.theme-auto {
		@media (prefers-color-scheme: dark) {
			@include theme-dark-vars;
		}
	}

	&.theme-dark {
		@include theme-dark-vars;
	}
}