// Mobile, portrait	320px	iPhone SE
// 375px	iPhone 6, 7, 8, X
// 414px	iPhone 8 Plus
// Mobile, landscape	568px	iPhone SE
// 667px	iPhone 6, 7, 8
// 736px	iPhone 8 Plus
// 812px	iPhone X
// Tablet, portrait	768px	iPad Air, iPad Mini, iPad Pro 9"
// 834px	iPad Pro 10"
// Tablet, landscape	1024px	iPad Air, iPad Mini, iPad Pro 9"
// 1024px	iPad Pro10"
// Laptop displays	1 12" (portrait)
// 1112px	iPad Pro 366px	HD laptops (768p)
// 1366px	iPad Pro 12" (landscape)
// 1440px	13" MacBook Pro (2x scaling)
// Desktop displays	1680px	13" MacBook Pro (1.5x scaling)
// 1920px	1080p displays
// very small screen / phone
$screen-xs-min: 320px;
// Small screen / tablet
$screen-sm-min: 640px;
// Medium screen / desktop
$screen-md-min: 960px;
// Large screen / wide desktop
$screen-lg-min: 1600px;
// HD+ screen / wide desktop
$screen-xl-min: 2561px;

$screen-lg-max: $screen-xl-min - 1;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;