@use './_var.screen.scss' as *;
@use './_mixins.scss' as *;
@forward './_theme.default.scss';
@forward './demo/demo-animation.scss';
@forward './base.scss';
@forward './demo.article.scss';

.page-demo {
    --header-height: 56px;
    --breadcrumb-height: var(--comp-size-3);
    --item-width: 260px;
    --detail-max-width: 60%;

    @media screen and (max-width: $screen-xs-max) {
        --item-width: 260px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        --item-width: 280px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        --item-width: 340px;
    }

    @media screen and (min-width: $screen-lg-min) {
        --item-width: 360px;
    }
    @media screen and (orientation:portrait) {
        --detail-max-width: 56%;
    }
    @media screen and (orientation:landscape) {
        --detail-max-width: 40%;
    }
    &.view-detail{
        @media screen and (max-width: $screen-md-max) {
            --item-width: 260px;
        }

        
        @media (min-width: $screen-lg-min)  {
            --item-width: 320px;
        }
    }

    @include hidden-scrollbar();

    .header {
        grid-area: header;
    }

    .breadcrumb {
        z-index: calc(var(--ui-header-index) - 1);
        grid-area: breadcrumb;
        position: sticky;
        top: var(--header-height);
        transition: transform 0.5s;
        transform: translateY(0%);
    }

    .detail {
        grid-area: detail;
        overflow: hidden;

        &:empty {
            display: none;
        }
    }

    .result {
        grid-area: result;
    }

    .menu {
        grid-area: menu;
        width: var(--menu-width);
        background-color: var(--color);
        color: var(--color-bg);
        position: sticky;
        height: calc(100dvh - var(--header-height) - var(--breadcrumb-height));
        top: calc(var(--header-height) + var(--breadcrumb-height));
        display: flex;
        flex-direction: column;
        gap: var(--g3);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;

        >a,
        button {
            font-size: var(--font-size-3);
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: (scale(1.5));
                color: var(--color-bg-l1);
            }
        }
    }

    .footer {
        grid-area: footer;
        margin-top: var(--g4);
    }

    display: grid;
    // transition: grid-template-columns 0.5s ease-in-out;

    --result-width: auto;
    --menu-width: 0px;
    @media screen and (min-width: $screen-sm-min) {
        --result-width: calc(var(--item-width) * 2 + var(--g2));
        grid-template-columns: minmax(0, 1fr) min(var(--result-width), var(--detail-max-width)) var(--menu-width);
        grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto;
        grid-template-areas:
            "header header header"
            "breadcrumb breadcrumb breadcrumb"
            "result detail menu"
            "footer detail menu";
    }

    @media screen and (max-width: $screen-xs-max) {
        grid-template-columns: minmax(0, 100%) var(--menu-width);
        grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto auto;
        grid-template-areas:
            "header header"
            "breadcrumb breadcrumb"
            "detail menu"
            "result menu"
            "footer menu";
    }



    &.menu {
        --menu-width: 50px !important;

        .menu {
            opacity: 1;
            pointer-events: auto;
        }

        .open-menu {
            display: none;
        }
    }

    &:not(.menu) {

        .close-menu {
            display: none;
        }
    }

    &.view-grid {
        @media screen and (max-width: $screen-xs-max) {
            grid-template-rows: var(--header-height) var(--breadcrumb-height) 0 auto auto;
        }

        @media screen and (min-width: $screen-sm-min)  {
            grid-template-columns: auto 0 var(--menu-width);
            grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto;
        }


    }

    &.view-detail {
        @media screen and (max-width: $screen-xs-max) {
            grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto auto;
            .detail {
                margin-left: var(--g2);
                margin-right: var(--g2);
            }
            .result{
                @include hidden-scrollbar();
                overflow-x: auto;
                > ul {
                    display:flex;
                    flex-wrap: nowrap;
                    > li{
                        flex: 0 0 var(--item-width);
                        article{
                            --article-width: var(--item-width);
                        }
                    }
                }
            }
        }

        @media screen and (min-width: $screen-sm-min)  {
            .header-close {
                transform: none;
            }

            .breadcrumb {
                transform: none;
            }

            .detail {
                position: sticky;
                top: calc(var(--header-height) + var(--breadcrumb-height));
                height: calc(100dvh - var(--header-height) - var(--breadcrumb-height));
                overflow-y: auto;
                overflow-x: hidden;
                @include hidden-scrollbar();
                margin-right: var(--g2);
            }

            .result {

                overflow-y: auto;
                overflow-x: hidden;
            }

            .result,
            .footer {}
        }
    }
}

.demo-slider{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;

}

.filter {
    display: flex;
    gap: var(--g1);
    align-items: center;

    >* {
        flex-shrink: 0;
    }

    overflow-x: auto;
    @include hidden-scrollbar();
}

.result {
    >ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--item-width) - var(--g2)*2), 1fr));
        position: relative;
        z-index: 2;
        @include hidden-scrollbar();
        gap: var(--g2);
        padding: 0 var(--g2) ;
    }
    li {
    }
}

.scroll-down {
    .breadcrumb {
        transform: translateY(calc(var(--header-height) * -1));
    }

    .menu {
        height: calc(100dvh - var(--header-height));
        top: calc(var(--breadcrumb-height));
    }
}


.page-demo-sitemap,
.page-demo-sitemap-state,
.page-demo-sitemap-county,
.page-demo-sitemap-city {
    .menu {
        display: none;
    }
}