@use './_var.screen.scss' as *;
@use './_mixins.scss' as *;
@forward './_theme.default.scss';
@forward './demo/demo-animation.scss';
@forward './base.scss';

.page-demo {
    --header-height: 56px;
    --breadcrumb-height: var(--comp-size-3);
    --item-width: 260px;

    @media screen and (max-width: $screen-xs-max) {
        --item-width: 280px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        --item-width: 320px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        --item-width: 328px;
    }

    @media screen and (min-width: $screen-lg-min) {
        --item-width: 329px;
    }


    @include hidden-scrollbar();

    .header {
        grid-area: header;
    }

    .breadcrumb {
        z-index: calc(var(--ui-header-index) - 1);
        grid-area: breadcrumb;
        position: sticky;
        top: var(--header-height);
        transition: transform 0.5s;
        transform: translateY(0%);
    }

    .detail {
        grid-area: detail;
        overflow: hidden;

        &:empty {
            display: none;
        }
    }

    .result {
        grid-area: result;
    }

    .menu {
        grid-area: menu;
        width: var(--menu-width);
        background-color: var(--color);
        color: var(--color-bg);
        position: sticky;
        height: calc(100dvh - var(--header-height) - var(--breadcrumb-height));
        top: calc(var(--header-height) + var(--breadcrumb-height));
        display: flex;
        flex-direction: column;
        gap: var(--g3);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;

        >a,
        button {
            font-size: var(--font-size-3);
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: (scale(1.5));
                color: var(--color-bg-l1);
            }
        }
    }

    .footer {
        grid-area: footer;
    }

    display: grid;
    transition: grid-template-columns 0.5s ease-in-out;

    --result-width: auto;
    --menu-width: 0px;

    @media screen and (orientation:portrait) {
        grid-template-columns: minmax(0, 100%) var(--menu-width);
        grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto auto;
        grid-template-areas:
            "header header"
            "breadcrumb breadcrumb"
            "detail menu"
            "result menu"
            "footer menu";
    }

    @media screen and (orientation:landscape) {
        --result-width: var(--item-width);
        grid-template-columns: calc(100% - var(--result-width) - var(--menu-width)) var(--result-width) var(--menu-width);
        grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto;
        grid-template-areas:
            "header header header"
            "breadcrumb breadcrumb breadcrumb"
            "detail result menu"
            "detail footer menu";
    }

    @media (orientation:landscape) and (min-width: $screen-lg-min) {
        --result-width: calc(var(--item-width) * 2 + var(--g2));
    }

    &.menu {
        --menu-width: 50px !important;

        .menu {
            opacity: 1;
            pointer-events: auto;
        }

        .open-menu {
            display: none;
        }
    }

    &:not(.menu) {

        .close-menu {
            display: none;
        }
    }

    &.view-grid {
        @media screen and (orientation:portrait) {
            grid-template-rows: var(--header-height) var(--breadcrumb-height) 0 auto auto;
        }

        @media screen and (orientation:landscape) {
            grid-template-columns: 0 auto var(--menu-width);
            grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto;
        }


    }

    &.view-detail {
        @media screen and (orientation:portrait) {
            grid-template-rows: var(--header-height) var(--breadcrumb-height) auto auto auto;

            .detail {
                margin-left: var(--g2);
                margin-right: var(--g2);
            }
        }

        @media screen and (orientation:landscape) {
            .header-close {
                transform: none;
            }

            .breadcrumb {
                transform: none;
            }

            .detail {
                position: sticky;
                top: calc(var(--header-height) + var(--breadcrumb-height));
                height: calc(100dvh - var(--header-height) - var(--breadcrumb-height));
                overflow-y: auto;
                overflow-x: hidden;
                @include hidden-scrollbar();
                margin-left: var(--g2);
            }

            .result {

                overflow-y: auto;
                overflow-x: hidden;
            }

            .result,
            .footer {}
        }
    }
}

.filter {
    display: flex;
    gap: var(--g1);
    align-items: center;

    >* {
        flex-shrink: 0;
    }

    overflow-x: auto;
    @include scroll-smooth();
    @include snap();
    @include hidden-scrollbar();
}

.result {
    >ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--item-width) - var(--g2)*2), 1fr));
        position: relative;
        z-index: 2;
        @include hidden-scrollbar();
        gap: var(--g2);
        padding: var(--g2) 0;
        margin-left: var(--g2);
        margin-right: var(--g2);
    }


    li {
        cursor: pointer;
    }

    article {
        background-color: var(--color-bg-l1);
        --article-gap: min(var(--g2), 3%);
        position: relative;
        border-radius: 8px;
        box-shadow: 0 0 0px 1px var(--color-bg-l1);
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;
        gap: var(--g2);
        padding-bottom: var(--g2);

        .tags {
            position: absolute;
            top: var(--g0);
            left: var(--g1);
            z-index: 3;
        }

        >figure {
            width: 100%;
            padding-top: 65%;
            height: 0;
            order: 1;
            position: relative;
            overflow: hidden;

            >figcaption {
                position: absolute;
                font-size: var(--font-size-7);
                bottom: 0;
                right: 0;
                z-index: 2;
                color: var(--color-bg);
                padding: var(--g0);
                background-color: hsla(var(--color-major-hue), var(--color-glb-front-saturation), var(--color-glb-front-lightness), 0.5);
                border-radius: var(--radius-0) 0 0 0;
            }

            >img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        >a {
            order: 3;
            padding: 0 var(--article-gap);

            address {
                font-size: var(--font-size-6);
                @include singleline();
            }
        }

        >ul {
            flex-shrink: 0;
            order: 2;
            padding: 0 var(--article-gap);
            font-weight: var(--font-weight-medium);
            display: flex;
            gap: var(--g2) var(--article-gap);
            align-items: baseline;
            flex-wrap: wrap;
            height: 1.2rem;
            overflow: hidden;

            >li {
                white-space: nowrap;

                b {
                    font-size: var(--font-size-4);
                    font-weight: var(--font-weight-bold);
                }

                span {
                    font-size: var(--font-size-5);
                    font-weight: var(--font-weight-medium);
                }

                abbr {
                    font-size: var(--font-size-6);
                    color: var(--color-l1)
                }
            }
        }
    }
}

.scroll-down {
    .breadcrumb {
        transform: translateY(-100%);
    }

    .menu {
        height: calc(100dvh - var(--header-height));
        top: calc(var(--breadcrumb-height));
    }
}