@use './_var.screen.scss' as *;
@use './_mixins.scss' as *;

article {
	--article-width: 100%;
	--article-gap: min(var(--g3), 5%);
	width: var(--article-width);



	.tags-top {
		position: absolute;
		top: var(--g1);
		left: var(--g1);
		z-index: 3;
	}

	>figure {
		order: 1;
	}

	>a {
		order: 3;
	}

	>.dict {
		order: 2;
	}
}