@include comp-size('btn');
@include comp-color('btn');
.btn {
	display: inline-block;
	text-align: center;
	position: relative;
	@include singleline();
	&:before {
		transition: transform $animation-time ease-in-out;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		bottom: 0;
		opacity: 0.1;
		transform: scale(0);
		background-color: var(--color-bg);
		pointer-events: none;
	}
	@include hover() {
		&:before {
			transform: scale(1);
		}
	}
	&[disabled] {
		--color: #{$color-default-l1} !important;
		--color-bg: #{$color-bg-default-l1} !important;
		--color-border: #{$color-default-l1} !important;
		--color-active: #{$color-default-l1} !important;
		--color-active-bg: #{$color-bg-default-l1} !important;
		--color-active-border: #{$color-default-l1} !important;
	}
	&.loading {
		cursor: wait !important;
	}
}
