@include comp-color(nav);
@include comp-size(nav);
.nav {
	color: var(--nav-color);
	background-color: var(--nav-color-bg);
	&.sticky {
		position: sticky;
		top: 0;
		z-index: $ui-stick-index;
	}
	> ul {
		display: flex;
		justify-content: left;
		margin: 0 auto;
		li + li{
			&:before {
				opacity: 0.6;
				content: '>';
			}
		}
	}
	a {
		padding: $comp-gap-y $comp-gap-x;
		border-bottom: 2px solid transparent;
		font-size: $font-size-5;
		color: var(--nav-color);
		background-color: var(--nav-color-bg);
		opacity: 0.8;
		display: inline-block;
		height: $comp-height;
		line-height: $comp-line-height;
		@include hover() {
			opacity: 1;
			font-weight: $font-weight-bold;
		}
		
		&.active {
			opacity: 1;
			font-weight: $font-weight-bold;
			color: var(--nav-color);
			background-color: var(--nav-color-bg);
		}
	}
}
