@include comp-color(nav);
@include comp-size(nav);
.nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: var(--nav-color);
	background-color: var(--nav-color-bg);
	&.sticky {
		position: sticky;
		top: 0;
		z-index: $ui-stick-index;
	}
	> ul {
		@include singleline();
		max-width: fit-content;
		overflow: hidden;
		li{
			display: inline;
		}
		li + li{
			&:before {
				opacity: 0.6;
				content: '>';
				vertical-align: middle;
				font-size: var(--font-size-7);
			}
		}
	}
	a {
		padding: var(--comp-gap-y) var(--comp-gap-x);
		border-bottom: 2px solid transparent;
		font-size: var(--font-size-5);
		color: var(--nav-color);
		background-color: var(--nav-color-bg);
		opacity: 0.8;
		display: inline-block;
		height: var(--comp-height);
		line-height: var(--comp-line-height);
		@include hover() {
			opacity: 1;
			font-weight: var(--font-weight-bold);
		}
		
		&.active {
			opacity: 1;
			font-weight: var(--font-weight-bold);
			color: var(--nav-color);
			background-color: var(--nav-color-bg);
		}
	}
	.nav-button{
		margin-left: auto;
		margin-right: var(--g0);
		flex-shrink: 0;
		line-height: var(--comp-size-3);
	}
}
