@include comp-color('section');
.section {
	@include gap-size();
	margin-top: var(--section-gap-y);
	margin-bottom: var(--section-gap-y);
	padding-left: var(--section-gap-x);
	padding-right: var(--section-gap-x);
	&.inline {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: var(--section-gap-y);
		padding-bottom: var(--section-gap-y);
	}
}
