@include comp-color(tab);
@include comp-size(tab);

.tab-panel {
	position: relative;
	z-index: 1;
	border-bottom-right-radius: var(--comp-border-radius);
	border-bottom-left-radius: var(--comp-border-radius);
}

.tab {
	margin-bottom: -1px;
	border-top-right-radius: var(--comp-border-radius);
	border-top-left-radius: var(--comp-border-radius);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	font-weight: var(--tab-font-weight);
	font-size: var(--tab-font-size);
	height: var(--tab-size);
	padding: var(--tab-gap) var(--g2);
	min-width: var(--tab-size);
	width: var(--tab-width);
	line-height: var(--tab-line-height);

	&,
	&:link,
	&:visited {
		color: var(--tab-color);
		background-color: var(--tab-color-bg);
		box-shadow: inset 0 0 0 var(--tab-border-weight) var(--tab-color-border);
	}

	&:active,
	&:hover {
		color: var(--tab-color-hover);
		background-color: var(--tab-color-bg-hover);
		box-shadow: inset 0 0 0 var(--tab-border-weight) var(--tab-color-border-hover);
	}

	&.active {
		color: var(--tab-color-active);
		background-color: var(--tab-color-active-bg);
		box-shadow: inset 0 0 0 var(--tab-border-weight) var(--tab-color-active-border);

		&:active,
		&:hover {
			color: var(--tab-color-active-hover);
			background-color: var(--tab-color-active-bg-hover);
			box-shadow: inset 0 0 0 var(--tab-border-weight) var(--tab-color-active-border-hover);
		}
	}
}