@include comp-color('tag');

.tag {
	--tag-gap-x: var(--g1);
	--tag-gap-y: var(--g0);
	padding: var(--tag-gap-y) var(--tag-gap-x);
	font-size: var(--font-size-7);
	border-radius: var(--g1);
	@include singleline();

	color: var(--tag-color);
	background-color: var(--tag-color-bg);
	box-shadow: inset 0 0 0 var(--tag-border-weight) var(--tag-color-border);

	&.active {
		color: var(--tag-color-active);
		background-color: var(--tag-color-active-bg);
		box-shadow: inset 0 0 0 var(--tag-border-weight) var(--tag-color-active-border);
	}


	&,
	&:link,
	&:visited {
		color: var(--tag-color);
		background-color: var(--tag-color-bg);
		box-shadow: inset 0 0 0 var(--tag-border-weight) var(--tag-color-border);
	}

	&:active,
	&:hover {
		color: var(--tag-color-hover);
		background-color: var(--tag-color-bg-hover);
		box-shadow: inset 0 0 0 var(--tag-border-weight) var(--tag-color-border-hover);
	}

	&.active {
		color: var(--tag-color-active);
		background-color: var(--tag-color-active-bg);
		box-shadow: inset 0 0 0 var(--tag-border-weight) var(--tag-color-active-border);

		&:active,
		&:hover {
			color: var(--tag-color-active-hover);
			background-color: var(--tag-color-active-bg-hover);
			box-shadow: inset 0 0 0 var(--tag-border-weight) var(--tag-color-active-border-hover);
		}
	}
}