@include comp-color('tag');
@include comp-color-hover('tag');
.tag {
	--tag-gap-x: var(--g1);
	--tag-gap-y: var(--g0);
	padding: var(--tag-gap-y) var(--tag-gap-x);
	font-size: var(--font-size-7);
	border-radius: $g1;
	@include singleline();
}
